ul.nav.navbar-nav.tipo_1-nav {
    padding: 0% 35%;}
.navbar-collapse.collapse{
	background-color: #a4b912;
}
a:hover{
	text-decoration: none;   
}
a{
	text-decoration: none;
	color:#a4b912 ;
}
#video a{
	color: black;
	font-family:Stanberry;
}
.btn {
    width: 12%;
    padding: 1%;
    background-color: #a4b912;
    border:  1.8px solid white;
}
.a , .b , .c {
	position: absolute;
	top: 69%;
}
.a{
	right: 60%;
}
.b{
	right: 44%;
}
.c{
	left: 60%;
}
.letra{
	font-family:Stanberry;
}
/*::::::::::::::::::::*/;
h3, h2{
	font-family:Stanberry;
	margin: 0%;
}
.ub{
	position: fixed;
	top: -1%;
	right: 1%;
	z-index: 21;

}
#hola{
	font-family:Stanberry;
	font-size: 1em;
	padding: 5% 19%;
    line-height: 2;
}
/*places:::::::::::::::::::::::::::::::::*/

h2,{
	color: #096e61;
}
.mt{
	margin-top:5%;
}
.mt-2{
	margin-top: 2%;
}
.mb{
	margin-bottom: 2%;
}
.mb-10{
	margin-bottom: 10%;
}
.all{
	margin:2% 0% 5%;
}
.infoPlace1{
	margin: 8% 0%;
}
.nota{
	padding: 1% 3%;
	border-style: solid;
    border:  double  #096e61;

}
.h:hover{
	color: #096e61;
	font-size: 10%;
	cursor: pointer;
}
.btn-green{
	margin-top: 7%;
    border-bottom: 5px solid #a4b912;
    width: 100%;
}
.btn-green:hover{
	border-bottom: 5px solid #096e61 ;

}
.green{
	color: #a4b912;
}

/*clima::::::::.*/
.back{
	width:100%;
	border-top: 45px solid #096e61;
    border-bottom: 45px solid #096e61;
   	background-color:#a4b912;
   	padding:0% 10%;
   	height: 240px;
}
.tam{
	font-size: 24px;
    padding: 9% 12%;
}

#contact{
	background-color: #a4b912;
	margin: 0%;

}
.color{
	color: white;
    padding: 15% 30%;
    font-size: 1.5em;
}
.colory{
	color: white;
    padding: 15% 24%;
    font-size: 1.5em;
}
.insta{
	color: white;
	font-size: 1.5em;
	padding: 15% 24%;
}
.tw{
	color: white;
	font-size: 1.5em;
	padding: 15% 24%;
}
.point{
	color: white;
	font-size: 1.5em;
	padding: 15% 33%;
}
.phone{
	color: white;
	font-size: 1.5em;
	padding: 15% 27%;
}
.g{
	color: white;
    font-size: 1.3em;
    padding: 19% 24%;
}

.c-gray{
	margin-top: 2%;
	border-radius:50px;
    background-color: #848484;
    width: 6%;
    height: 32px;
}
.circle{
 	border-radius:50px;
    background-color: #48649F;
    width: 6%;
    height: 32px;
}
.circle1{
	margin-top: 2%;
	border-radius:50px;
    background-color: #E62117;
    width: 6%;
    height: 32px;
}
.circle2{
	margin-top: 2%;
	border-radius:50px;
    background-color: #81DAF5;
    width: 6%;
    height: 32px;
}
.circle3{
	margin-top: 2%;
	border-radius:50px;
    background-color: #28A9E0;
    width: 6%;
    height: 32px;
}
.inlineb{
	position: absolute;
	top: 48%;
	left:11%;
	font-family:Stanberry;
}
.in2{
	margin-top: 2%;
	position: absolute;
	top: 58%;
	left:11%;
	font-family:Stanberry;
}

.in3{
	margin-top: 2%;
	position: absolute;
	top: 74%;
	left:11%;
	font-family:Stanberry;
}
.in4{
	margin-top: 2%;
	position: absolute;
	top: 87%;
	left:11%;
}
.in5{
	    font-family: Stanberry;
	margin-top: 2%;
	position: absolute;
	top: 51%;
	left:11%;
}
.in6{
	font-family: Stanberry;
	margin-top: 2%;
	position: absolute;
	top: 68%;
	left:11%;
}
.in7{
	font-family: Stanberry;
	margin-top: 2%;
	position: absolute;
	top: 85%;
	left:11%;
}
.box{
	margin-top: 0%;
}
.box1{
	margin-top: 25%;
}
.size{
	height: 241px;
    width: 100%;
}
.fcolor{
	background-color: #096e61;
}
.pa{
	padding: 1%;
	margin-top: 4%;
}