a:hover{
	text-decoration: none;   
}
a{
	text-decoration: none;
	color:#a4b912 ;
}

#video a{
	color: #096e61;
}
.btn {
    width: 12%;
    padding: 1%;
    background-color: #a4b912;
    border:  1.8px solid white;
}
.a , .b , .c {
	position: absolute;
	top: 69%;
}
.a{
	right: 60%;
}
.b{
	right: 44%;
}
.c{
	left: 60%;
}
.letra{
	font-family:Stanberry;
}
/*::::::::::::::::::::*/;
h3, h2{
	font-family:Stanberry;
	margin: 0%;
}
.ub{
	position: fixed;
	top: 1%;
	right: 1%;
	z-index: 21;

}
#hola{
	font-family:Stanberry;
	font-size: 1em;
	padding: 5% 19%;
    line-height: 2;
}
/*places:::::::::::::::::::::::::::::::::*/

h2,{
	color: #096e61;
}
.mt{
	margin-top:5%;
}
.mt-2{
	margin-top: 2%;
}
.mb{
	margin-bottom: 2%;
}
.mb-10{
	margin-bottom: 10%;
}
.all{
	margin:2% 0% 5%;
}
.infoPlace1{
	margin: 8% 0%;
}
.nota{
	padding: 1% 3%;
	border-style: solid;
    border:  double  #096e61;

}
.h:hover{
	color: #096e61;
	font-size: 10%;
	cursor: pointer;
}
.btn-green{
	margin-top: 7%;
    border-bottom: 5px solid #a4b912;
    width: 100%;
}
.btn-green:hover{
	border-bottom: 5px solid #096e61 ;

}
.green{
	color: #a4b912;
}

/*clima::::::::.*/
#clima{
	background-image: url("../img/clima.jpg");
    background-repeat: no-repeat;
    height: 246px;
    background-size: 100%;
    border-top: 45px solid #096e61;
    border-bottom: 45px solid #096e61;
    margin-top: 5%;
}

/********* */

#contact{
	background-color: #a4b912;
	margin: 0%;

}
.color{
	color: white;
    padding: 15% 30%;
    font-size: 1.5em;
}
.colory{
	color: white;
    padding: 15% 24%;
    font-size: 1.5em;
}
.insta{
	color: white;
	font-size: 1.5em;
	padding: 15% 24%;
}
.circle{
 	border-radius:50px;
    background-color: #48649F;
    width: 6%;
    height: 32px;
}
.circle1{
	margin-top: 2%;
	border-radius:50px;
    background-color: #E62117;
    width: 6%;
    height: 32px;
}
.circle2{
	margin-top: 2%;
	border-radius:50px;
    background-color: #81DAF5;
    width: 6%;
    height: 32px;
}
.circle3{
	margin-top: 2%;
	border-radius:50px;
    background-color: #81DAF5;
    width: 6%;
    height: 32px;
}
.inlineb{
	position: absolute;
	top: 5	%;
	left:11%;
}
.in2{
	margin-top: 2%;
	position: absolute;
	top: 23%;
	left:11%;
}
.in3{
	margin-top: 2%;
	position: absolute;
	top: 49%;
	left:11%;
}

.size{
	height: 241px;
    width: 100%;
}