
.btn {
    width: 10%;
    padding: 1%;
    background-color: #a4b912
}
.a , .b , .c {
	position: absolute;
	top: 9%;
}
.a{
	right: 62%;
}
.b{
	right: 46%;
}
.c{
	left: 60%;
}

/*::::::::::::::::::::*/;
.text{
    text-align: center;
    padding: 4% 10%;
    line-height: 30px;

}

/*places:::::::::::::::::::::::::::::::::*/
h2{
	color: #096e61;
}
.mt{
	margin-top:5%;
}
.mb{
	margin-bottom: 2%;
}
.all{
	margin:2% 0% 5%;
}
.infoPlace1{
	margin: 8% 0%;
}
.nota{
	background-color:#FED100 ;
	padding: 2%;

}

/*clima::::::::.*/

.all1{
	margin:11% 0% 5%;
}
.choose{
	background-color: white;
	padding: 10% 5% 15%;
}
.box-color{
	background-color:#24282E;
	padding: 8%;
}